.margem-login{
    margin-left: 37.5%;
    margin-top: 15%;
    padding: 2%;
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.808);
    text-align: center;
}
.loginerrado{
    color: red;
    font-weight: 500;
}
.nav-item a{
    font-size: 16px;
}
#sidebar{
    min-height: 80vh;
    text-align: center;
}
#navbarsuperior li:hover{
    transform: scale(1.2);
}
.formattext{
    text-align: justify;
    font-size: 18px;
}